* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height:1.6em;
}
a {
  text-decoration:none;
}
.clr {
  clear: both;
}
.container-nav {
  overflow:auto;
  padding: 0 20px;
} 
#navbar {
  display: flex;
  top:0;
  justify-content:space-between;
  z-index: 1;
  padding:0.2rem;
  background-color: #2c3840;
  color:white;
  overflow: auto;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px 5px
}
#navbar ul li a {
  margin: 0 0.25rem;
  color: white;
  display:block;
  padding:1px 8px 2px 8px;
  text-align:center;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 15px;
}
#navbar ul li a:hover, #navbar ul li a.current {
  color:#54dafd;
  border: 2px solid #54dafd;
  border-radius: 15px;
} 
#navbar p {
  position: relative;
}
#navbar img {
  height: 15vh;
}
.flex-footer
{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-footer
{
   text-align: center;
   margin-bottom: 10px;
   padding: 10px;
   height:auto;
   width: 300px;
   background-color:#fff;
   border-radius: 10px;
}

.contact-us
{
  text-align: center;
   display: block;
   height: auto;
   width:200px;
   padding: 10px;
   background-color:#54dafd;
   border-radius: 10px;
}
.contact-us h2 {
  font-size: 20px;  
}

#main-footer {
  text-align:center;
  background:#2c3840;
  color:white;
  padding:20px 0;
}